<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>投票页</title>
</head>
<body>
    <h1>投票</h1>
    <h2>{{ ques.title }}</h2>
    请选择
    <ul>
        <form action="{% url 'pulls:toup' ques.id %}" method="post">
            {% for i in ques.toup_set.all %}
            {% if forloop.counter == 1 %}
            <li><input type="radio" checked name="info" value="{{ i.id }}">{{ i.name }}</li>
            {% else %}
            <li><input type="radio" name="info" value="{{ i.id }}"> {{ i.name }}</li>
            {% endif %}
            {% endfor %}
            <input type="submit" name="提交">
        </form>
    </ul>


</body>
</html>