<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>列表页</title>
</head>
<body>
    <h3>列表页</h3>
    <ul>
        {% for i in books %}
        {% if forloop.counter == 1 %}
            <li style="background-color: red"> {{ forloop.counter }} <a href="{% url 'booktest:detail' i.id %}"> {{ i.title }} </a> </li>
        {% else %}
            <li> {{ forloop.counter }} <a href="{% url 'booktest:detail' i.id %}"> {{ i.title }} </a> </li>
        {% endif %}
        {% endfor %}
    </ul>
    <a href="{% url 'booktest:index' %}">返回首页</a>
</body>
</html>